# 忽略 Mac OS 系统生成的 .DS_Store 文件
.DS_Store
**/.DS_Store

# 忽略 Mac OS 系统生成的其他元数据文件
.AppleDouble
.LSOverride

# 忽略 Icon 必须以两个 \r 结尾
Icon

# 忽略缩略图
._*

# 忽略可能出现在卷根目录中的文件
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# 忽略可能在远程 AFP 共享上创建的目录
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk